@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.bg_color {
    background-color: #F2C4D0;

}

.nav_color {
    font-size: 1.1em;
}

.favs {
    background-color: #F2C4D0;
    padding: 10px;
    color: #355B8C;
}

a {
    color: white;

}

body{
    background-image: url("img/thumb.jpg");

}

#exp{
    color:#F2F2F2;
    font-size: 1.0em;

}

#esp{
    color: #F2F2F2;
    font-size: 1.0em;

}

#hobbie{
    color:black;

}

.titulos{
    color:#375C8C;

}

#contato{
    color:#F2F2F2;
    font-size: 1.0em;
}

.card-text{
    color:#6C82BB;

}

.card-title{
    color: #355B8C;

}

.btn {
    color: #6C82BB;
    border-color: #6C82BB;
}

.btn:hover{
    background-color: #6C82BB;
    border-color: #6C82BB;
}

.btn-secundary{
    color: #6C82BB;
    border-color: #6C82BB;
}

.btn-secundary:hover{
    background-color: #6C82BB;
    border-color: #6C82BB;
}

.carousel{
    padding-top: 4%;

}

h1{
    padding-top: 2%;

}

.titulos2{
    color: #375C8C;

}

#mad, #bad, #old{
    color: #F2F2F2;
    font-size: 1.0em;

}
