@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.bg_color {
    background-color: #F2C4D0;

}

.nav_color {
    font-size: 1.1em;
}

.favs {
    background-color: #F2C4D0;
    padding: 10px;
    color: #355B8C;
}

a {
    color: white;

}

body{
    background-image: url("img/thumb.jpg");

}

#exp{
    color:#F2F2F2;
    font-size: 1.0em;

}

#esp{
    color: #F2F2F2;
    font-size: 1.0em;

}

#hobbie{
    color:black;

}

.titulos{
    color:#375C8C;

}

#contato{
    color:#F2F2F2;
    font-size: 1.0em;
}

.card-text{
    color:#6C82BB;

}

.card-title{
    color: #355B8C;

}

.btn {
    color: #6C82BB;
    border-color: #6C82BB;
}

.btn:hover{
    background-color: #6C82BB;
    border-color: #6C82BB;
}

.btn-secundary{
    color: #6C82BB;
    border-color: #6C82BB;
}

.btn-secundary:hover{
    background-color: #6C82BB;
    border-color: #6C82BB;
}

.carousel{
    padding-top: 4%;

}

h1{
    padding-top: 2%;

}

.titulos2{
    color: #375C8C;

}

#mad, #bad, #old, #oshiro, #video, #crisee, #mim{
    color: #F2F2F2;
    font-size: 1.0em;

}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #f2c4d0cc;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #355B8C;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #355B8C;  /* creates padding around scroll thumb */
  }
