.bg_color {
    background-color: #7D26CD;
    

}

.nav_color {
    font-size: 1.1em;
}

.favs {
    background-color: #7D26CD;
    padding: 10px;
    color: white;
}

a {
    color: white;

}

body{
    background-image: url("img/thumb.jpg");

}

#exp{
    color:rgb(255, 208, 0);

}

#esp{
    color:rgb(255, 208, 0);

}

#hobbie{
    color:black;

}

.titulos{
    color:rgb(182, 19, 182);

}

#contato{
    color:rgb(255, 208, 0);
}

.card-text{
    color:rgb(182, 19, 182);

}

.btn {
    color: rgb(255, 208, 0);
    border-color: rgb(255, 208, 0);
}

.btn:hover{
    background-color: rgb(255, 208, 0);
    border-color: rgb(255, 208, 0);
}

.active{
    color: rgb(255, 208, 0);

}

.cccc {
    color:rgb(255, 208, 0);

}
